In [1]:
# kevin_imp_data.pkl

In [6]:
import pandas as pd
import pickle as pkl

In [44]:
labels = []
text = []

with open('../data/input/kevin/trn_data.csv', 'r') as f:
    for line in f.readlines():
        values = line.split('\t', 1)
        labels.append(values[0])
        text_val = values[1]
        text_val = text_val.replace('\t', '').replace('\n', '').replace('  ', ' ').replace('""','')
        text.append(text_val)

In [45]:
df_data = pd.DataFrame(list(zip(text, labels)), columns=['text', 'label'])

In [46]:
df_data.head()

                                                text label
0  A cockroach will live nine days without it’s h...     0
1  More people are killed each year from bees tha...     0
2  Well i-, well it seemed to make sense since I ...     0
3                 So, I have none left what so ever.     0
4  You have you have a lot of younger brothers an...     0

In [47]:
df_data.describe()

         text label
count    1388  1388
unique   1382     3
top     What.     0
freq        2   664

In [48]:
labels = []
text = []

with open('../data/input/kevin/tst_data.csv', 'r') as f:
    for line in f.readlines():
        values = line.split('\t', 1)
        labels.append(values[0])
        text_val = values[1]
        text_val = text_val.replace('\t', '').replace('\n', '').replace('  ', ' ').replace('""','')
        text.append(text_val)

In [49]:
df_data2 = pd.DataFrame(list(zip(text, labels)), columns=['text', 'label'])

In [50]:
df_data2.describe()

        text label
count    298   298
unique   297     4
top     Why.     2
freq       2    85

In [52]:
df_data3.describe()

        text label
count   1686  1686
unique  1675     4
top     Why.     0
freq       3   735

In [55]:
df_data3.loc[df_data3['label'] == '2']['text'].\
to_csv('../data/input/imperatives/ground_truth/kevin_data.csv', index=False)

/Users/talat/anaconda3/envs/sentgen/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

# After the previous cell, combine the github imperatives ground truth data and kevin_data.csv

In [61]:
df_data3.loc[df_data3['label'].isin(['1','0'])]['text'].\
to_csv('../data/input/imperatives/ground_truth/non_imperatives.csv', index=False)

/Users/talat/anaconda3/envs/sentgen/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.